html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

.footer {
  background-color: #f8f9fa;
  position: relative;
  bottom: 10;
  width: 100%;
  height: 60px; /* Altura do footer */
  line-height: 60px; /* Para centralizar o texto verticalmente */
  text-align: center;
}

.cor{
  --bs-bg-opacity: 1;
  background-color: rgb(87 211 189) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
