<div class="jumbotron">
  <h1 class="display-4">Bem-vindo!</h1>
  <p class="lead">Sistema de Disponibilização de Frotas</p>
  <hr class="my-4">

  <div class="container text-center mt-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <a routerLink="/frotas" class="text-decoration-none text-dark">
          <div class="icon-link">
            <i class="fas fa-truck fa-5x"></i>
            <h4>Transportadoras</h4>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a routerLink="/frota-disponivel" class="text-decoration-none text-dark">
          <div class="icon-link">
            <i class="fas fa-shipping-fast fa-5x" ></i>

            <h4>Frota Disponível</h4>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a routerLink="/page3" class="text-decoration-none text-dark">
          <div class="icon-link">
            <i class="fas fa-cogs fa-5x"></i>
            <h4>Ajustes</h4>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
